*{
  padding: 0;
  margin: 0;
}

/* container */
.container{
  display: flex;
  margin-top: 30px;
}

/* block_order */
.block_order{
  width: 70%;
}

.block_order h1{
  text-align: center;
}

.list_product_order{
  display: flex;
  flex-wrap: wrap;
}

.list_product_order img{
  width: 200px;
  height: 200px;
  margin: 5px;
}

/* block_Product */

.block_Product{
  width: 20%;
}

.block_Product .title_product{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.block_Product .title_product span{
  color: #fff;
  background-color: #00000061;
  padding: 2px 15px;
  border-radius: 15px;
  margin-left: 10px;
}

.title_product p{
  color: #00000061;
    font-weight: bold;
}

.block_Product .title_product button{
  background-color: #f7ab51;
    border: none;
    padding: 5px;
    border-radius: 4px;
    outline: none;
}

.block_total {
  display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #00000061;
    font-weight: bold;
}

.checkout{
  border: 1px solid #00000061;
    border-top: 0;
    padding: 10px;
}

.checkout button{
  background-color: rgba(0, 0, 255, 0.582);
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    outline: none;
    color: #fff;
    cursor: pointer;
}

.product_item{
  display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #00000061;
    border-bottom: none;
}

.product_name{
  font-weight: bold;
}

.product_name p:last-child{
  color: #00000061;
}

.product_item input{
  height: 26px;
    margin: auto 0;
}

.product_item .btn{
  padding: 6px 10px;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: red;
    color: #fff;
    cursor: pointer;
}

.input_number{
  margin: auto 0;
}

.product_item .btn:last-child{
    background-color: green;
}

.product_item .input_number span{
  padding: 0 12px;
  border-top: 1px solid #00000042;
  border-bottom: 1px solid #00000042;
}

.tagProduct{
  border: 1px solid #fb00ff;
    margin: 5px;
    border-radius: 10px;
}

.productInfo{
  text-align: center;
}

.tagProduct p{
  font-size: 20px;
    font-weight: bold;
    color: green;
}